<!-- Modal on click Edit User button -->

<div class="modal fade bd-example-modal-sm" id="edituser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog  modal-dialog-centered" role="document">

    <div class="modal-content pt-5">

      <div class="modal-body add-usercontainer">

        <img class="rounded-circle" src="images/team-2.jpg" />

        <label class="mt-3">Name</label>
        <input class="form-control add-user" type="text" />

        <label class="mt-3">Job title</label>
        <input class="form-control add-user " type="text" />

      </div>

      <div class="modal-footer">

        <a class="btn   cancel-user " data-dismiss="modal">Cancel</a>

        <a class="btn  add-user">Save</a>

      </div>

    </div>

  </div>

</div>

<!-- Modal on click Edit User button -->
