<!-- Modal on click Edit User button -->
<ng-template #content let-modal>
  <div class="modal fade bd-example-modal-sm" id="edituser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog  modal-dialog-centered" role="document">

      <div class="modal-content pt-5">

        <div class="modal-body add-usercontainer">
            <ng-content></ng-content>
        </div>

      </div>

    </div>

  </div>
</ng-template>

<!-- Modal on click Edit User button -->
