<!-- Modal on click Delete User button -->

<div class="modal fade bd-example-modal-sm" id="deleteuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog  modal-dialog-centered" role="document">

    <div class="modal-content pt-5">

      <div class="modal-body add-usercontainer text-center">

        <p>Are You Sure You Want To Delete</p>

        <p class="font-weight-bold">user name</p>

      </div>

      <div class="modal-footer">

        <a class="btn mr-3 cancel-user " data-dismiss="modal">No</a>

        <a class="btn  add-user">Yes</a>

      </div>

    </div>

  </div>

</div>

<!-- Modal on click delete User button -->
