<app-navbar>
  <a class="login btn text-uppercase">Enquire</a>
</app-navbar>
<app-breadcrumps></app-breadcrumps>
<!--Start List-section Section-->

<section class="list-section py-5">

  <div class="container">

      <div class="item-list-parent">

          <div [ngClass]="{'item-list': collapsed}" *ngIf="allUsers">
          <!-- <div *ngIf="allUsers"> -->

              <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center user-action">
                      User
                      <span class="badge-pill">Actions</span>
                  </li>

              </ul>

              <ul class="list-group list-group-flush listof-user" *ngFor="let user of allUsers">
                  <li data-target="#edit-user" data-toggle="collapse"
                  class="list-group-item d-flex justify-content-between align-items-center user-action"
                  (click)="viewUser(user)">

                      <div class="user-info w-75 ">
                          <img class="item-img rounded-circle "
                          [src]="user.avatar ? user.avatar : './../../../assets/images/team-1.jpg'" />
                          <span class="pl-2">{{ user.first_name }} {{ user.last_name }}</span>
                      </div>

                      <div class="badge badge-pill">

                          <i data-toggle="modal" data-target="#edituser" class="fa fa-pencil p-2 item-icon mr-2" (click)="editUser.open(user)"></i>
                          <i data-toggle="modal" data-target="#deleteuser" class="fa fa-trash item-icon p-2" (click)="deleteUser.open(user)"></i>
                          <i class="fa fa-angle-right ml-5"></i>

                      </div>
                  </li>
              </ul>

              <div class="box" *ngIf="loading">
                <div class="loader-01"></div>
              </div>

          </div>
          <app-user-view *ngIf="collapsed" [user]="consumeUser($event)"></app-user-view>

      </div>

  </div>

</section>

<!--End List-section Section-->

<!-- edit user modal -->
<app-cru-modal #editUser>
  <app-user-form [user]="hello"></app-user-form>
</app-cru-modal>

<!-- delete user modal -->
<app-delete-modal #deleteUser>
  <app-delete-user></app-delete-user>
</app-delete-modal>
