<!--Start Breadcrump Section-->

<section class=" breadcrump-section">

  <div class="container">

      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
      </nav>

      <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
              User List
              <span class="badge  badge-pill">
                <button data-toggle="modal" class="login btn" (click)="open()">
                  <i class="fa fa-plus pr-1"></i>
                  New User
                </button>
              </span>
          </li>

      </ul>

  </div>

</section>

<!--End Breadcrump Section-->

<!-- add user modal -->
<app-cru-modal #addUser>
  <app-user-form></app-user-form>
</app-cru-modal>
